:root{
  --dazlleBlue: rgba(35, 87, 137, 1);
  --cherryRed:  rgba(187, 10, 33, 1);
  --mainBlack:  rgba(12, 15, 10, 1);
  --containerBlueBG: rgba(163, 186, 195, 1);
  --mainBlue: rgba(60, 145, 230, 1);
--mainGreen: rgba(159, 211, 86, 1);
--mainWhite: rgba(250, 255, 253, 1);
--maintextBlack: rgba(7, 9, 15, 1);
--mainChampaine: rgba(245, 226, 200, 1);
--mainPinkLink:rgba(231, 90, 124, 1);
}
body{
  font-family: 'Raleway', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--maintextBlack)!important;
}

.basic-lining-box{
  border:1px solid var(--cherryRed)!important; 
}

.title-header-text{
font-family: 'Ubuntu', sans-serif ; 
text-transform: uppercase ;
letter-spacing: 0.1rem;
font-size: 2rem;
}
.fas{
    font-family: FontAwesome !important;
   }

.link{
  color:var(--mainWhite)!important;
}
/* Media queries */
@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
.button-container{
  background-color:var(--mainBlack);
  color:var(--mainPinkLink)
}

